<style type="text/css">
    footer {
        margin-top: 100px;
    }
</style>

<br><br><br>
<div class="container table-container">
    <div class="row">
        <div class="col-md-5 col-12">
            <h1 class="demi">Users Table</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="econsiders-table" class="display">
                <thead>
                    <tr>
                        <th>ID</th>                      
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
            <% User.all.each do |user| %>
            <tbody>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning' %>
                        <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger disabled' %></td>
                </tr>
            </tbody>
            <% end %>
            </table>
        </div>
    </div>
</div>