<div class="bg">
    <div class="event-top-holder">
        <div class="heading-holder container">
            <h1 class="general-heading">Our Events</h1>
            <p class="sub-heading">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Cras justo odio.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="event-btn-holder" align="center">
        <div class="col-12 tab">
            <button class="btn col-4 col-md-2 event-status upcoming tablinks" onclick="openEvents(event, 'upcoming')" id="defaultOpen">Upcoming</button>
            <div class="col-1"></div>
            <button class="btn col-4 col-md-2 event-status past tablinks" onclick="openEvents(event, 'past')">Past</button>
        </div>
    </div>

    <section id="upcoming" class="tabcontent">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src="event-1.png" alt="Card image cap" height="160px" width="100%">
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">Warwick Economics Summit</h5>
                        <p class="card-text-when">Monday, 17 May, 9:00am</p>
                        <p class="card-text-venue">Student Hall, Webster Vienna Private University</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src="event-7.png" alt="Card image cap" height="160px" width="100%">
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">AMEU Economics Summit</h5>
                        <p class="card-text-when">Wednesday, 11 August, 9:00am</p>
                        <p class="card-text-venue">Sunway University</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src="event-4.png" alt="Card image cap" height="160px" width="100%">
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">National Economics Summit</h5>
                        <p class="card-text-when">Monday, 17 September, 9:00pm</p>
                        <p class="card-text-venue">Sequoia Hotel</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src="event-2.png" alt="Card image cap" height="160px" width="100%">
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">Economics Summit MIAMI</h5>
                        <p class="card-text-when">Monday, 19 January, 9:00pm</p>
                        <p class="card-text-venue">University of Miami</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="past" class="tabcontent">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src="event-6.png" alt="Card image cap" height="160px" width="100%">
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">helloTomorrow Global Summit</h5>
                        <p class="card-text-when">Monday, 17 May, 9:00pm</p>
                        <p class="card-text-venue">Grand Ballroom, Pentagon</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src="event-3.png" alt="Card image cap" height="160px" width="100%">
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">Economics Summit at Warwick</h5>
                        <p class="card-text-when">Monday, 19 May, 9:00pm</p>
                        <p class="card-text-venue">Webster Vienna Private University</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <h1 class="section-heading col-12">Talk with International Advisory Council</h1>
    
    <div class="row">
        <div class=" col-12">
            <div class="jumbotron iac-cards">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <img src="https://pbs.twimg.com/media/Dmbvv_hX4AAii8i.jpg" class="img-fluid" />
                    </div>

                    <div class="col-md-7 col my-auto">
                        <h2 class="card-title"><span style="font-family: 'Medium';">Your Ego is Limiting your upside</span></h2>
                        <p class="card-title">The GaryVee Audio Experience @ ROKU</p>
                        <button class="btn btn-primary">Play Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class=" col-12">
            <div class="jumbotron iac-cards">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <img src="https://pbs.twimg.com/media/Dmbvv_hX4AAii8i.jpg" class="img-fluid" />
                    </div>
                    
                    <div class="col-md-7 col my-auto">
                        <h2 class="card-title"><span style="font-family: 'Medium';">Your Ego is Limiting your upside</span></h2>
                        <p class="card-title">The GaryVee Audio Experience @ ROKU</p>
                        <button class="btn btn-primary">Play Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("defaultOpen").click();
    function openEvents(evt, eventType) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(eventType).style.display = "block";
      evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
    function openOffice(evt, officeLoc) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(officeLoc).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>