<!-- <main role="main">

    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                
                <%#= image_tag("about/2.png", class: "first-slide") %>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="sub-heading">Example headline.</h2>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <%#= image_tag("about/2.png", class: "first-slide") %>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="sub-heading">Example headline.</h2>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <%#= image_tag("about/2.png", class: "first-slide") %>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="sub-heading">Example headline.</h2>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>



    <div class="container marketing">
        <h1 class="general-heading">What do we care about?</h1>

        
        <div class="row">
            <div class="col-lg-4">
                <%#= image_tag("about/val1.png", height: "240") %>
                <h3 class="sub-heading">Social Impact</h3>
                <p class="text-regular">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                
            </div>
            
            <div class="col-lg-4">
                <%#= image_tag("about/val2.png", height: "240") %>
                <h3 class="sub-heading">Commercial Awareness</h3>
                <p class="text-regular">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                
            </div>
            
            <div class="col-lg-4">
                <%#= image_tag("about/val3.png", height: "240") %>
                <h3 class="sub-heading">Economic Knowledge</h3>
                <p class="text-regular">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                
            </div>
        </div>



        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <div class="heading-holder">
                    <h2 class="featurette-heading sub-heading">Who We Are</h2>
                    <h2 class="text-muted">Our Story.</h2>
                </div>

                <p class="lead">We aspire to respond to the niche demand for an Economics centric organization, and complement the present assembly of Malaysian student organizations with a vast array of events planned in the circumference of careers and social engagements.</p>
            </div>
            <div class="col-md-6">
                <img class="featurette-image img-fluid mx-auto" src="https://marydupriestudio.com/wordpress/wp-content/uploads/2017/10/owners.group_1079.v2.webfile.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <div class="heading-holder">
                    <h2 class="featurette-heading sub-heading">The Economics Continuum</h2>
                    <h2 class="text-muted">Our Impact.</h2>  
                </div>

                <p class="lead">AMEU is fully committed to delivering the best events to promote economics and to protect the interests of students. Our efforts are reflected by widespread support from both organizations and students alike, and we aim to continue this momentum moving forward.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://pbs.twimg.com/media/DsyvxXqUUAAD6v8.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <div class="heading-holder">
                    <h2 class="featurette-heading sub-heading">Our Members</h2>
                    <h2 class="text-muted">Sub-Heading.</h2>  
                </div>
                <p class="lead">Becoming a member is only the first step. Imbuing them with a sense of purpose, providing training, and encouraging them to aim high are also key if we are to build a high-performance organisation with highly engaged members.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://gravyanalytics.com/wp-content/uploads/2017/05/audiences.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider hr-semi-last">


        <div class="sponsors">
            <h1 class="general-heading">Our Sponsors</h1>
            <div class="col-12 col-md-12" id="sponsor-holder">
                
                <%#= image_tag("about/times-sq.png", class:"sponsor") %>
                
                <%#= image_tag("about/themepark.png", class:"sponsor") %>
            </div>
        </div>

    </div>
    
</main> -->

<!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb start-->

<%= render 'layouts/care' %>
<%= render 'layouts/impact' %>
<br><br>
<%= render 'layouts/partners' %>