<section id="landing"> 
    <div class="container">
        <div class="row">
            <div class="home-text col-md-6 col-sm-12 col-12" data-aos="fade-right">
                <h6>Welcome to </h6>
                <h1>Association of Malaysian Economics Undergraduates</h1>
                <p>We are a professional non-profit student-run organization which congregates aspiring Malaysian undergraduates who are passionate about Economics related pursuits in the UK and Ireland.</p>
                <button class="btn btn-hover">Find out More</button>
            </div>
            <div class="col-md-6 col-sm-12 col-12" data-aos="zoom-in">
                <%= image_tag("home/opt-2.png", class: "col-12 home-img")%>
            </div>
        </div>
    </div>
</section>

<section id="events-home" data-aos="fade-up">
    <div class="container">
        
        <h1 class="section-heading col-12">Upcoming Events</h1>
        
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card">
                    
                    <%= image_tag("home/event-1.png", class: "card-img-top img-fluid", height: "160px", width: "100%")%>
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">Warwick Economics Summit</h5>
                        <p class="card-text-when">Monday, 17 May, 9:00am</p>
                        <p class="card-text-venue">Student Hall, Webster Vienna Private University</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <%= image_tag("home/event-1.png", class: "card-img-top img-fluid", height: "160px", width: "100%")%>
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">AMEU Economics Summit</h5>
                        <p class="card-text-when">Wednesday, 11 August, 9:00am</p>
                        <p class="card-text-venue">Sunway University</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <%= image_tag("home/event-1.png", class: "card-img-top img-fluid", height: "160px", width: "100%")%>
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title">National Economics Summit</h5>
                        <p class="card-text-when">Monday, 17 September, 9:00pm</p>
                        <p class="card-text-venue">Sequoia Hotel</p>

                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <button class="col btn text-white">Find Out More!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="leadership-home">
    <div class="parallax">
        <div class="heading-holder container" align="center">
            <div class="container jumbotron">
                <h1 class="general-heading">Meet our Team</h1>
                <p class="sub-heading">Our team members are our greatest asset. As unique as we are individually, we pride ourselves on our strategic, integrated approach to public relations and the results it delivers. Get to know the talented individuals who power AMEU. </p>
                <button class="btn btn-danger">View More</button>
            </div>
            
        </div>
    </div>
</section>

<section id="res-n-guides">
    <h1 class="general-heading">Spreading Awareness</h1>
    
    <div class="container-fluid">
        <div class="row" align="center">
            <div class="col-md col-12 rg-box bg-light" data-aos="fade-left">
                <h2 class="sub-heading col-12">Student Guides</h2>
                <p class="text-regular col-12">Get access to our resources.</p>
                <div class="container">
                    <button class="btn btn-primary">Proceed</button>
                </div>
                
<!--
                <div class="container">
                    <button class="btn btn-primary col-10">Personal Statement</button>
                    <button class="btn btn-primary col-10">Resource Recommedation</button>
                    <button class="btn btn-primary col-10">Information and Advice</button>
                    <button class="btn btn-primary col-10">Student Organizations</button>
                </div>
-->
            </div>
            <div class="col-md col-12 rg-box text-white" id="research-box" data-aos="fade-right">
                <h2 class="sub-heading col-12">AMEU Research</h2>
                <p class="lead text-regular col-12">Just a stupid description that needs to be changed.</p>
                <div class="container">
                    <button class="btn btn-light col">See More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="jumbotron jumbotron-fluid" id="particles-js"> -->

<script type="text/javascript">
    particlesJS.load('particles-js', 'particle-cfg.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>




