<style type="text/css">
	html {
		scroll-behavior: smooth;
	}

	.active, .year-btn:hover {
		background-color: #e2e2e2;
		color: black;
	}
	.sticky {
		position: -webkit-sticky;
		position: fixed;
		top: 85px;
		background-image: linear-gradient(90deg, #0029D5, #1E90FF);
		color: white;
		padding: 8px 0;
		font-size: 18px;
		z-index: 999;
		text-align: center;
	}

	.sticky button {
		font-size: 16px;
		border-radius: 99px;
		padding: 3px 20px;
		border: none;
		transition: 0.3s;
	}

	.sticky button:hover {
		color: white;
		background-color: black;
	}

	.countdown {
		border-radius: 1000px;
		padding: 16px 5px;
		background-image: linear-gradient(90deg, #0029D5, #1E90FF);
		color: white;
	}

	.countdown ul {
			padding: 0;
			margin: 0;
		}

	.countdown ul li {
		list-style: none;
		display: inline-block;
		padding: 1em 1.5em;
		padding-bottom: 0;
		margin-bottom: 0;
		float: none;
		line-height: 35px;
		text-transform: capitalize;
	}
	.countdown li span {
		display: block;
		font-size: 2.8rem;
		font-family: "Demi";
	}

	#pni .jumbotron {
		padding: 50px 35px;
		background-color: white;
		box-shadow: 0 3px 8px rgba(0,0,0,0.12);
		border-radius: 10px;
	}

	#pni .jumbotron p {
		font-size: 16px;
		font-family: "Light";
	}

	.holder {
		width: auto;
		display: block;
		margin: 0 auto;
	}

	.circle {
		box-shadow: 0 3px 8px rgba(0,0,0,0.15);
		text-align: center;
		width: 240px;
		padding: 75px 0;
		border-radius: 50%;
		margin: 20px;
		display: inline-block;
	}

	.circle h1 {
		font-family: "Demi";
		font-size: 54px;
	}

	.circle p {
		font-family: "Medium";
		font-size: 18px;
	}

	#reg-now {
		padding: 80px 20px;
		background-image: linear-gradient(90deg, #1E90FF, #0029D5);
		margin: 60px 0;
	}

	#reg-now button {
		border-radius: 99px;
		padding: 6px 40px;
		transition: 0.3s;
		background-color: white;
	}

	#reg-now button:hover {
		background-color: black;
		color: white;
	}

	#speakers .card {
		border-radius: 10px;
	}

	#speakers .card:hover {
		cursor: pointer;
	}

	#speakers .card img {
		border-top: 10px;
	}

	#speakers .card-body {
		height: 90px;
		padding: 15px 20px 0px 20px;
	}
	/* Timeline holder */
	ul.timeline {
	    list-style-type: none;
	    position: relative;
	    padding-left: 1.5rem;
	}

	 /* Timeline vertical line */
	ul.timeline:before {
	    content: ' ';
	    background: #fff;
	    display: inline-block;
	    position: absolute;
	    left: 16px;
	    width: 4px;
	    height: 100%;
	    z-index: 400;
	    border-radius: 1rem;
	    box-shadow: 0 3px 3px rgba(0,0,0,0.2)
	}

	li.timeline-item {
	    margin: 20px 0;
	    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
	    border-radius: 20px;
	}

	/* Timeline item arrow */
	.timeline-arrow {
	    border-top: 0.5rem solid transparent;
	    border-right: 0.5rem solid #fff;
	    border-bottom: 0.5rem solid transparent;
	    display: block;
	    position: absolute;
	    left: 2rem;
	}

	/* Timeline item circle marker */
	li.timeline-item::before {
	    content: ' ';
	    background: dodgerblue;
	    display: inline-block;
	    position: absolute;
	    border-radius: 50%;
	    border: 3px solid #fff;
	    left: 11px;
	    width: 14px;
	    height: 14px;
	    z-index: 400;
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	#sponsors .jumbotron {
		padding: 40px;
		margin: 10px 0;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.15);
		transition: 0.3s;
	}
	#sponsors .jumbotron:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,0.25);
		transform: scale(1.02);
	}

	#registration button {
		border-color: transparent;
	}

	#event-notes {
		padding: 40px;
		background-image: linear-gradient(90deg, #1E90FF, #0029D5);
		border-radius: 30px;
		color: white;
	}

	.panel {
		height: 680px;
	}

	.bg-img {
		background-image: url("https://lh4.googleusercontent.com/7JA6iJPCyfH5-JzxVQIIlhArG4082u0Qt9nxgwzW3YTL8gPWZbO3T6I5kSkHeAoS3Zxvfh3rzBEqTPAV1EfLmqyxViPd2ZZlWtLexPpLs2Et8VBQoyr0L94V5nUUkldNWt_5AFs7");
		height: 90vh;
		background-size: cover;
		padding: 0;
	}

	@media only screen and (max-width: 600px) {
		.sticky {
			top: 50px;
		}
		.countdown {
			padding: 12px 8px 8px 8px;
		}

		.countdown ul li {
			padding: 0.5em 0.5em;
			line-height: 20px;
			font-size: 12px;
		}

		.countdown ul li span {
			font-size: 24px;
		}

		#speakers .card-body {
			height: 60px;
			padding-top: 8px;
		}

		.card-body h5 {
			font-size: 13px;
		}

		.card-body p {
			font-size: 14px;
		}

		.sticky button {
			background-color: white;
		}
		.panel {
			height: auto;
		}
		.bg-img {
			background-image: url("https://lh4.googleusercontent.com/yMaffZfmOp6YCiJy14AzsjNCk4AJ6I0-n23sL1Mym3RwE-eRNnwN4p7ZiLhyf5OAWx0cxuYXJ2-bBQwVnYHLLKpDXIfk4_tKLXOdIMpozVUX0dhFUVl9pa4HHJ2gXxJbwcPOHVJl");
			height: 90vh;
		}
		
		
	}
</style>

<div class="sticky col-12">Sign Up Today! <a href="#registration"><button>Register Now</button></a></div>
<br><br>
<div class="container-fluid" align="center">
	
	<!-- <div class="col-md-10 col-12 mt-4 mb-2" data-aos="zoom-out" data-aos-duration="1500">
		<img src="https://lh3.googleusercontent.com/snKN1wcQEGleafED98Iv2sBFRLf2RnV-aKYsDUdQ4_s_86Dk58AR57R_80plGe_ugHdGQnCdvti2dRBqb_qvwn_pbHH3NbqSg7i3KpCm1SWjgJdE2fC5tS-JkVTHsrKu83oeifWh" class="col-md-11 px-0 shadow banner">
	</div> -->
	<div class="bg-img col-12">
	</div>
	<br>
	<div class="col-md-7 col-12 my-0">
		<!-- div class="jumbotron countdown" align="center" data-aos="zoom-out" data-aos-duration="200"> -->
		<div class="jumbotron countdown" align="center">
			<ul>
				<li><span id="days"></span>Days</li>
			    <li><span id="hours"></span>Hours</li>
			    <li><span id="minutes"></span>Minutes</li>
			    <li><span id="seconds"></span>Seconds</li>
			</ul>
		</div>
		<h2 class="mt-0 pt-0">The Grand Countdown</h2>
	</div>
</div>

<div class="container mb-4">
	<div class="row">
		<p class="col-12 dodgerblue bold pt-4 mb-2 mt-4 lead text-uppercase">Economics After Tomorrow : Building Malaysia's Economics Resilience</p>
		<h1 class="col-12 demi">AMEU Economics Summit 2020</h1>	
		<p class="col-12 lead mt-2 mb-5">
			The COVID-19 pandemic has been a great, unprecedented shock. Its impact on us and our societies have been incredibly severe and wide-ranging. In the smaller context of the economy, the pandemic has been majorly disruptive, harming all of us as stakeholders in the economy. One thing we can learn from the pandemic is the importance of economic resilience, or the ability to foresee, prepare for, and adjust to the negative impacts of risk. Risks can arise from anywhere and spread everywhere, bringing along with them severe ramifications that are only exacerbated by many of the current era's novelties - increasing globalisation of people and trade, for example. An economy that is not prepared to weather the ramifications of risk is sure to face massive setbacks in an increasingly uncertain world. That being said, what risks are there currently embedded within the Malaysian economy? What can we do to sustain Malaysia  against these risks? 
			<br><br>
			This year, the AMEU Economics Summit 2020 aims to probe into these difficult yet critical questions. We intend to carve out a progressive discussion on the current state of Malaysia's economic resilience, with a particular focus on job security and business resilience in Malaysia.
		</p>
	</div>

	<div class="row" id="pni">
		<h2 class="col-12 medium mb-4">Panels and Interactive Sessions</h2>	
		<div class="col-md-6">
			<div class="jumbotron col panel">
				<h3 class="demi"><span class="dodgerblue">Panel 1:</span> Job Security in Malaysia : Working Our Way Forward</h3>

				<p>An economy is only resilient when its own labour markets are resilient, and workers enjoy job security and protection from the risk of economic shocks. However, in times of uncertainty, such as in the COVID-19 pandemic, employers may be compelled to lay off its most vulnerable workers, or at least cut their salaries. Not only is this devastating to the worker's livelihood, but the risk of mass unemployment may in turn have wider social and economic consequences. In fact, a 2019 report by the World Economic Forum indicated that "unemployment or underemployment" is itself a major source of economic risk in Malaysia. Hence, this panel intends to discuss the current and future state of job security in Malaysia, from the perspective of the worker, the employer, and the government.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron col panel">
				<h3 class="demi"><span class="dodgerblue">Panel 2:</span> Business Resilience : Staying Stronger For Longer</h3>
				<p>In this rapidly changing economic environment,  disruptive forces can arise from anywhere, including financial, technological, environmental, and civilian sources. Increasing uncertainties and the threat of future economic volatility complicates business outlooks for the future. With such cloudy times ahead, businesses need to focus more on building internal resilience to weather future economic difficulties successfully. This is especially imperative in Malaysia. The COVID-19 highlighted the vulnerability of many Malaysian businesses, especially SMEs, to the negative impacts of economic shocks. Without business resilience, economic shocks can lead to a collapse of the business ecosystem, bringing severe economic and societal fallout. Hence, this panel aims to bring together industry leaders and policymakers to discuss how business resilience in Malaysia can be improved in light of an increasingly unsettled landscape.</p>
			</div>
		</div>
		<div class="col-md-12" align="center">
			<div class="jumbotron col">
				<h3 class="demi dodgerblue">Interactive Sessions</h3>
				<p style="font-size: 22px">Interactive sessions consist of activities such as workshops and dialogues, enabling participants to tailor their summit experience to their own interests. The interactive sessions intend to enhance participants' experience by providing customized advice and activities which will be more effectively channeled through short and high impact sessions. Participants will be allocated to different sessions once they register for the summit. Check out our Facebook page for more updates!</p>
			</div>
		</div>
	</div>
</div>

<div class="container" id="speakers">
	<div class="row mb-4">
		<h1 class="col-12 demi mb-4">Our Honorable <span class="dodgerblue">Speakers</span></h1>	
	</div>
	<div class="row" align="center">

		<!-- Speaker 1  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker1">
				<img class="card-img-top" src="https://lh3.googleusercontent.com/ssI2VZd79twN7eUmhZjIgepODlowdrSN3pHEP5wX-iK_0_d34ES0UmUlww444ZuhAa3wJkSCzqV_iZcTSaaZeA1vMD4dQcjtgfIeoDxbrWso0KabPwwWKYcRbQdb1n2ApYy_SUMn">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">YBhg Tan Sri Dr Zeti Akhtar Aziz</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker1">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh3.googleusercontent.com/ssI2VZd79twN7eUmhZjIgepODlowdrSN3pHEP5wX-iK_0_d34ES0UmUlww444ZuhAa3wJkSCzqV_iZcTSaaZeA1vMD4dQcjtgfIeoDxbrWso0KabPwwWKYcRbQdb1n2ApYy_SUMn" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">YBhg Tan Sri Dr Zeti Akhtar Aziz</span>
							<br>
							<span class="text-secondary text-left">
							- Group Chairman of Permodalan Nasional Berhad (PNB) <br>
							- Former Governor of Bank Negara Malaysia
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 mb-4">
						<h3 class="demi">Opening Keynote</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 2  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker2">
				<img class="card-img-top" src="https://lh4.googleusercontent.com/BLQFt2687X0VEYjsCPr6LfZWKu95X4XfpwOto6h1JAv2irnSF2nAvxrcOLUhQWQqpocQIkNvj1q8jyWKvoK_orJ-j0v_uyn8_lizjTiqWxph-N4jE_sDhSdiDH4NC8DL2DWRMd5E">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Dr Juita Mohamad</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker2">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh4.googleusercontent.com/BLQFt2687X0VEYjsCPr6LfZWKu95X4XfpwOto6h1JAv2irnSF2nAvxrcOLUhQWQqpocQIkNvj1q8jyWKvoK_orJ-j0v_uyn8_lizjTiqWxph-N4jE_sDhSdiDH4NC8DL2DWRMd5E" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Dr Juita Mohamad</span>
							<br>
							<span class="text-secondary text-left">
							- Fellow in the Economics, Trade and Regional Integration (ETRI) Division of Institute of Strategic and International Studies (ISIS) Malaysia
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 1: Job Security in Malaysia: Working Our Way Forward</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 3  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker3">
				<img class="card-img-top" src="https://lh5.googleusercontent.com/dNtzOm8FyInG40BDkAlwdT8_AwYTJoHKhFZSTmDMPZRcZcdPcfoe--M6BVh7wbIsjklyFpbOPQskvVKvKdHjhmyC7U5kmkrkoZDegAVRAvF97GhFwnzOe6drZjCJQGAxyu5m2BXX">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Dr Achim D. Schmillen</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker3">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh5.googleusercontent.com/dNtzOm8FyInG40BDkAlwdT8_AwYTJoHKhFZSTmDMPZRcZcdPcfoe--M6BVh7wbIsjklyFpbOPQskvVKvKdHjhmyC7U5kmkrkoZDegAVRAvF97GhFwnzOe6drZjCJQGAxyu5m2BXX" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Dr Achim D. Schmillen</span>
							<br>
							<span class="text-secondary text-left">
							- Senior Economist, World Bank Malaysia (Social Protection and Jobs)
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 1: Job Security in Malaysia: Working Our Way Forward</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 4  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker4">
				<img class="card-img-top" src="https://lh6.googleusercontent.com/dzp13dEPp1nVnG6ZUlk9w4DfihQEo88gjriWDUEW6jNABxH1F6E90cj3FJmV0TcJvfmQrKFzSCPZw_3Z8n58RDc2dT1dBlJLR3rBTvJVTQGPyjpaXTBMPwUlQfX-BJacEMLKyfEV">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Wong Chan Wai</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker4">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh6.googleusercontent.com/dzp13dEPp1nVnG6ZUlk9w4DfihQEo88gjriWDUEW6jNABxH1F6E90cj3FJmV0TcJvfmQrKFzSCPZw_3Z8n58RDc2dT1dBlJLR3rBTvJVTQGPyjpaXTBMPwUlQfX-BJacEMLKyfEV" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Wong Chan Wai</span>
							<br>
							<span class="text-secondary text-left">
							- Head of Solution Lab under the Research & Development Department at Human Resources Development Fund (HRDF), Malaysia. <br>
							- His major role in the HRDF R&D Department is exploration of good practices at local and international level in order to improve up-skilling and reskilling initiatives for the nation.  <br>
							- Leads a team to conduct statistical analysis for organisational strategy and planning, manage research projects and writing articles related to human capital development. He is also instrumental in crafting the 12th Malaysia Plan on behalf of HRDF. <br>
							- Previously a lecturer in a private university in fields of Research Methodology and Labour Economics. He was also an avid researcher in money politics while working with Transparency International. <br>
							- Obtained his Master of Development Studies, Universiti Malaya in 2013 and Bachelor of Social Sciences (Hons) Psychology, Universiti Tunku Abdul Rahman (UTAR) in 2009.
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 1: Job Security in Malaysia: Working Our Way Forward</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 5  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker5">
				<img class="card-img-top" src="https://lh6.googleusercontent.com/fOPHpJIMap8Zan38d2Wqv4m5eQtkI_aGg9lIlf6kaajPaiJCtN2os8coqMLnTxUaBEXfxup_7q2y0H4ij1welvh7BFAmKHcAg_jo0LP_2EBoxVUaTAfTYZrqUnEjx_ZQq0Kok5aD">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Mr J Solomon</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker5">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh6.googleusercontent.com/fOPHpJIMap8Zan38d2Wqv4m5eQtkI_aGg9lIlf6kaajPaiJCtN2os8coqMLnTxUaBEXfxup_7q2y0H4ij1welvh7BFAmKHcAg_jo0LP_2EBoxVUaTAfTYZrqUnEjx_ZQq0Kok5aD" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Mr J Solomon</span>
							<br>
							<span class="text-secondary text-left">
							- Secretary-General, Malaysian Trades Union Congress (MTUC)
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 1: Job Security in Malaysia: Working Our Way Forward</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 6  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker6">
				<img class="card-img-top" src="https://lh5.googleusercontent.com/alXioc0yhlCkgfa-FnlNzGSIym5nEm0K0gDtuJG6BPAr3R3guTGMf8nZuCOqIKPZ0vpxhIaljm61tDFASELgzE7hrfB_0veESEIfTmuIVwta48H2mSY7tcb9pUiI82Vj6NCs1IOb">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Dr Ong Kian Ming</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker6">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh5.googleusercontent.com/alXioc0yhlCkgfa-FnlNzGSIym5nEm0K0gDtuJG6BPAr3R3guTGMf8nZuCOqIKPZ0vpxhIaljm61tDFASELgzE7hrfB_0veESEIfTmuIVwta48H2mSY7tcb9pUiI82Vj6NCs1IOb" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Dr Ong Kian Ming</span>
							<br>
							<span class="text-secondary text-left">
							- Member of Parliament (Bangi), Former Deputy Minister of International Trade and Industry (MITI) <br>

							<span class="demi">Experiences: </span><br>
							- The University of Cambridge and Duke University Alumni <br>
							- Current Member of Parliament (P102) Bangi <br>
							- Former Deputy Minister of International Trade and Industry <br>
							- Former MP of (P102) Serdang (2013-2018) <br>
							- Former Lecturer at USCI University <br>
							- Former Policy Analyst at SEDAR and INSAP
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 2: Business Resilience: Staying Stronger For Longer</h3>
						<p>"Our diversified economy can provide a shield against some of the worse economic shocks resulting from the COVID crisis but we need a targeted sector approach involving all of government and all of society in order to overcome this major economic crisis in the next six months."</p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 7  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker7">
				<img class="card-img-top" src="https://lh6.googleusercontent.com/vZs3nNVJIAh7gxFQXuoG3x-Xi-o6LmUMipeLIqTgWyawkpm5MfYmd1ukBUCpFGiBO8kvD8JZ8k_vZw6LgHQwMqU8c9mjrFoy2nr21h2xTxJDoWojbv0cxb_we0JKzsImKq9J_bfc">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Dr Carmelo Ferlito</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker7">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh6.googleusercontent.com/vZs3nNVJIAh7gxFQXuoG3x-Xi-o6LmUMipeLIqTgWyawkpm5MfYmd1ukBUCpFGiBO8kvD8JZ8k_vZw6LgHQwMqU8c9mjrFoy2nr21h2xTxJDoWojbv0cxb_we0JKzsImKq9J_bfc" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4"></span>
							<br>
							<span class="text-secondary text-left">
							Senior Fellow at the Institute for Democracy and Economic Affairs (IDEAS) <br>

							<span class="demi">Experiences: </span><br>
							- Director at Petersime Southeast Asia Sdn Bhd which provides world leading incubator and hatching equipment with offices worldwide.<br>
							- Director at Center for Market Education (CME) which is an academic initiative supported by IDEAS, that aims to promote the significance of economics education and better understanding of driving forces in the market.<br>
							- He has taught “Microeconomic Theory and Policy and History of Economic Thought” at INTI International College Subang. Also, he has delivered guest lectures in prestigious institutions in Malaysia, Italy, Pakistan, Singapore and Indonesia.<br>
							- Dr Ferlito is also the author of five books and more than thirty scientific papers.  <br>
							- His opinions have been reported by several Malaysian and international media, such as The Financial Times, Channel News Asia and etc. 

							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 2: Business Resilience: Staying Stronger For Longer</h3>
						<p>“To build a resilient business environment, trust, confidence and the right institutional framework are equally necessary. Malaysia needs to further strength, rather than weakening.”</p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 8  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker8">
				<img class="card-img-top" src="https://lh6.googleusercontent.com/dxJPiYlJzvkbgCitAKeVkB0DF8YsUUYym8k-crYjJrPQATN3I2HqaDbSwxPnk5MzpI8qZSeZI5QUcq9HvJj7uwZFhASLXps09IIbtT8VYqxGq3rZtjCSFF-QJ5p9TDzUd6cDKMuD">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Mr Rizal Nainy</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker8">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh6.googleusercontent.com/dxJPiYlJzvkbgCitAKeVkB0DF8YsUUYym8k-crYjJrPQATN3I2HqaDbSwxPnk5MzpI8qZSeZI5QUcq9HvJj7uwZFhASLXps09IIbtT8VYqxGq3rZtjCSFF-QJ5p9TDzUd6cDKMuD" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Mr Rizal Nainy</span>
							<br>
							<span class="text-secondary text-left">
							- Chief Implementation & Monitoring Officer of SMECorp Malaysia
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 2: Business Resilience: Staying Stronger For Longer</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 9  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker9">
				<img class="card-img-top" src="https://lh5.googleusercontent.com/IhZJ2hCKthWrijQ9_QBTYmO3qwAMVjluCtK6H9WeVhSIY9ds5KzQ7KRpqKknL_3_9K1njSnsXH4l0RuSZHxUuKOsz-imJUYYw_tyz8laHHvfxJivl3fDfNNsAX9UK04Ym4w7BeRF">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Mr Sayantan Das</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker9">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh5.googleusercontent.com/IhZJ2hCKthWrijQ9_QBTYmO3qwAMVjluCtK6H9WeVhSIY9ds5KzQ7KRpqKknL_3_9K1njSnsXH4l0RuSZHxUuKOsz-imJUYYw_tyz8laHHvfxJivl3fDfNNsAX9UK04Ym4w7BeRF" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Mr Sayantan Das</span>
							<br>
							<span class="text-secondary text-left">
							- Managing Director of Foodpanda Malaysia
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Panel 2: Business Resilience: Staying Stronger For Longer</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 10  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker10">
				<img class="card-img-top" src="https://lh4.googleusercontent.com/anEWIWAYAO2fhbx2-6BlZgOZSUKMxBj9-sAW42JHzXUILvHnAPd-ooRU-cY0281sFGfgKtQVguxVlj_DtuqMaM7ID0sUBtNwxNjdsqmsypane4z2OB-6DSgT29SUfOpDXxR3n5N6">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">YBhg Tan Sri Dato’ Dr Lin See-Yan</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker10">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh4.googleusercontent.com/anEWIWAYAO2fhbx2-6BlZgOZSUKMxBj9-sAW42JHzXUILvHnAPd-ooRU-cY0281sFGfgKtQVguxVlj_DtuqMaM7ID0sUBtNwxNjdsqmsypane4z2OB-6DSgT29SUfOpDXxR3n5N6" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">YBhg Tan Sri Dato’ Dr Lin See-Yan</span>
							<br>
							<span class="text-secondary text-left">
							- Former Deputy Governor of Bank Negara Malaysia<br>
							- Former Chairman of EXCO, Khazanah Nasional<br>
							
							<span class="demi">Experiences:</span><br>
							- Former Deputy Governor of Bank Negara Malaysia for 14 years <br>
							- Harvard-trained economist and holds three graduate degrees from Harvard University<br>
							- Served as an advisor to both the Chinese and Singaporean Governments. <br>
							- Founder and Former Chairman of EXCO, Khazanah Nasional<br>
							- British Chartered Scientist and Malaysia’s first-ever UK Chartered Statistician<br>
							- Served as an advisor to both the Chinese and Singaporean Governments. <br>
							- First non-American Chairman Emeritus, Harvard Graduate School Alumni Association Council at Harvard University and President, Harvard Club of Malaysia
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left mb-4">
						<h3 class="demi">Closing Keynote</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Moderator  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker0">
				<img class="card-img-top" src="https://lh6.googleusercontent.com/IqmyRLGmBGrMMbFhcOuZuU2mx3y8kRK_WA5D-t530beb95UJxyyERtiWT7McPdPSCIUuTHyVKKqjyHP4wq9OhiLMPtTzlgxhLL2mOIlfJokLjso0S7iE6llP-LnZYHC7RlFhLrD-">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Freda Liu</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker0">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh6.googleusercontent.com/IqmyRLGmBGrMMbFhcOuZuU2mx3y8kRK_WA5D-t530beb95UJxyyERtiWT7McPdPSCIUuTHyVKKqjyHP4wq9OhiLMPtTzlgxhLL2mOIlfJokLjso0S7iE6llP-LnZYHC7RlFhLrD-" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Freda Liu</span>
							<br>
							<span class="text-secondary text-left">
							- Lead Producer/Presenter at BFM 89.9 [Enterprise & HerVantage]<br>
							- Conducted over 5000 interviews and some prominent names include Martin Cooper, author Stephen Covey and motivational speaker Nick Vujicic<br>
							- Awarded the ASEAN Rice Bowl Awards for Malaysia Startup Journalist Of The Year<br>
							- Nominee for MaGIC’s Social Enterprise journalist<br>
							- Member of the National Association of Women Entrepreneurs Malaysia (NAWEM) <br>
							- Started her Lean In Circle called ‘Think’ and the Malaysian chapter has more than 100 members

							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 mb-4">
						<h3 class="demi">Moderator</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Moderator  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker99">
				<img class="card-img-top" src="https://lh3.googleusercontent.com/5ptRop_I-hJ1qsL4nTcO1BzcrW2jhkeKeJb4VIMTNJT0dqGIgwuZ_q7meEjjy4YvDnJBfEXK_GRTqN1zmF7GUbqiRgZ0kmFaRvJHRbnWfONJWpVl6B-eoMRiY3dOUkwQ40pVdwjm">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Jessy Chahal</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker99">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh3.googleusercontent.com/5ptRop_I-hJ1qsL4nTcO1BzcrW2jhkeKeJb4VIMTNJT0dqGIgwuZ_q7meEjjy4YvDnJBfEXK_GRTqN1zmF7GUbqiRgZ0kmFaRvJHRbnWfONJWpVl6B-eoMRiY3dOUkwQ40pVdwjm" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Jessy Chahal</span>
							<br>
							<span class="text-secondary text-left">
							- TV anchor & presenter on national television
							- Founder of Bloom PR MediaComm
							-16 years of experience in corporate and media industry; with roles in Frost & Sullivan, Oracle and Media Prima Berhad
							- Bachelor of Computing & Multimedia, Staffordshire University, UK
							- MBA, Cardiff Metropolitan University, UK
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 mb-4">
						<h3 class="demi">Moderator</h3>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<!-- 	<div class="row">
		<div class="holder back-black text-white col-md-9 mt-4 mb-2 shadow p-4">
			<h1 class="text-uppercase demi text-center mb-0">Announcing <span class="dodgerblue">More Speakers</span> Soon!</h1>
		</div>
	</div> -->
</div>

<div class="container-fluid text-white" id="reg-now">
	<div class="row">
		<h1 class="col-12 text-center demi mb-0 text-white">Join Our Event</h1>
		<p class="col-md-7 lead text-center mx-auto my-3 text-white">The AMEU Economics Summit 2020 is completely free of charge. Sign up today as spaces are limited! Confirmation emails will be sent out to registrants closer to the event day.</p>	
	</div>
	<div class="row">
		<a href="#registration" class="mx-auto"><button class="btn btn-lg">Register Now</button></a>
	</div>
	
</div>

<div class="container" id="itinery">
	<div class="row mb-4">
		<h1 class="col-12 demi">Event Itinerary</h1>	
	</div>
	
    <div class="row">
        <div class="col-12 mx-auto">
            
            <!-- Timeline -->
            <h4 class="bold dodgerblue">DAY 1 : 08 August 2020</h4>
            <ul class="timeline mb-5">
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Welcoming Address</h4>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 10:00 AM - 10:10 AM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Opening Keynote</h4>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 10:10 AM - 10:30 AM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Panel 1 : Job Security</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 10:30 AM - 12:00 PM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Q&amp;A</h4>
                    <span class="dodgerblue"><i class="far fa-clock"></i> 12:00 PM - 12:30 PM</span>
                </li>
                <li class="timeline-item back-black text-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi text-white">Break</h4>
                    <span><i class="far fa-clock"></i> 12:30 PM - 02:00 PM</span>
                </li>

                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Panel 2 : Business Resilience</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 02:00 PM - 03:30 PM</span>
                </li>

                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Q&amp;A</h4>
                    <span class="dodgerblue"><i class="far fa-clock"></i> 03:30 PM - 04:00 PM</span>
                </li>

                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Closing Keynote</h4>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 04:00 PM - 04:20 PM</span>
                </li>
                
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Closing Remarks</h4>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 04:20 PM - 04:30 PM</span>
                </li>

            </ul><!-- End -->
            <hr class="mb-5">
            <!-- Timeline -->
            <h4 class="bold dodgerblue">DAY 2 : 09 August 2020</h4>
            <ul class="timeline mb-5">
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Interactive Sessions 1</h4>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 10:00 AM - 12:00 PM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Interactive Sessions 2</h4>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 02:00 PM - 04:00 PM</span>
                </li>
            </ul><!-- End -->

        </div>
    </div>
</div>

<div class="container" id="last-year">
	<div class="row">
		<p class="col-12 dodgerblue bold pt-4 mb-2 mt-4 lead text-uppercase">LAST YEAR'S Summit</p>
		<h1 class="col-12 demi">The Malaysian Economy : Awakening the Asian Tiger<br><span class="light" style="font-size: 32px;">10 August, 2019 | Sunway University</span></h1>	
		<p class="col-12 lead my-2 mb-4">
			Malaysia has always been seen as a “tiger cub” economy since the 90's, having the potential to become a developed country like Singapore and Japan, but falling slightly short. Last year, we discussed how Malaysia can become an Asian Tiger within the next few years by tackling the wage stagnation and middle income trap while tapping into the potential of ASEAN digital revolution.
			<br><br>
			Last year’s AMEU Economics Summit welcomed 8 distinguished speakers such as Nurhisham Hussein, Shakira Teh Sharifuddin, Professor Dr Jomo Kwame Sundaram, Dr. Jasmine Begum, Surina Shukri, Ibrahim Sani Asnan, Wong Ee Xin and Tengku Zafrul Aziz.
			<br>
			Link to last year AMEU Summit:
			<a class="dodgerblue demi" target="_blank" href="https://facebook.com/events/s/ameu-economics-summit-2019/1566890590113081/?ti=cl">Click here</a>.</p>
	</div>

	<div class="row" align="center">
		<div class="holder">
			<div class="my-auto circle">
				<h1 class="mb-0 dodgerblue">450+</h1>
				<p class="mb-0">Attendees</p>
			</div>
			<div class=" circle">
				<h1 class="mb-0 dodgerblue">88%</h1>
				<p class="mb-0">Positive Feedback</p>
			</div>
			<div class=" circle">
				<h1 class="mb-0 dodgerblue">94%</h1>
				<p class="mb-0">Would Return</p>
			</div>
		</div>
	</div>
	<div class="row mt-4" align="center">
		<div class="col-md-2"></div>
		<div class="col-md-8 mb-4">
			<img src="https://lh6.googleusercontent.com/HJbYdlAL3o8j6PiapDEAoouJeswvlN6dsLlVj3vUp3iVv1v6qEVgV2Gwp8yBu613T2uHdXzac1dkNuGmgSwtGoFPnUIfmYXa7kbCnJ0kHGi3QN2hEgiyP-vbLA-BIB1egO0VUd3Z" class="col px-0 shadow-sm"  align="center">
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-6 mb-4">
			<img src="https://lh3.googleusercontent.com/0f-Ys6e3hVPen7TKdi-N0RplMnIW6CAdsBs-51to9V6KwZyB7tIfFHIcl1Y4kjNpvFAZ46odP-HcToYZA5Py8_qZz29HSYC0Wntz4HDKrTgBPGXz-Kuuho3c1k6I2xQ4FQ9bf-ji" class="col px-0 shadow-sm">
		</div>
		<div class="col-md-6 mb-4">
			<img src="https://lh6.googleusercontent.com/vnk4N3hvYXRCADaR8ct4da26b0ShzLpMb4ZsglSJJsl6Fx648nFIbYtXoihAyJxv7u1i44Rcw8M5LaP6B8KtDLXBcoMvEak-bow7ReWpN1aagbeLak3SgkfzfuhrYzmWFjkDH_su" class="col px-0 shadow-sm">	
		</div>
	</div>
</div>

<div class="container mt-3 mb-0 py-4" id="sponsors">
	<div class="row">
		<h1 class="col-12 demi">Our <span class="dodgerblue">Sponsors</span> this Year</h1>
	</div>
	<div class="row mt-4" align="center">
		<div class="col-md-6">
			<div class="jumbotron" id="venue">
				<h4 class="light mb-3">Co-host &amp; Platform Sponsor</h4>
				<img src="https://lh3.googleusercontent.com/eQZfqaY6H_lOaMhlweqTApveKnlrltu4LWM51bHld1_yFSoKPuUBSNmH1L_A1-AzF-iF8CrPOqZTGI69bwK_7fRtDv5TlTi7RS5FMPysLGR9bifQSAoVvbTZfr16gJXC79uxWq0W" height="80px" class="px-0">
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron" id="platinum">
				<h4 class="light mb-3" style="color: #A9A9A9;">Platinum Sponsors</h4>
				<img src="https://lh5.googleusercontent.com/u2hfV_fuo8qtKz8-xy84wa1dUx0RKqEDLy6HksPpWE43MT0wSfWBIAUe7oVwU-pIVR2D_d0_JhBtZsV_n2MJQO-Peocy5z8AQRQweaTWc4zz2-owOjQ4xIXHQqgQpeTT_9jMyafi" height="80px" class="px-0">
			</div>
		</div>
	</div>
	<div class="row mb-4" align="center" id="gold">
		<div class="col-md-6">
			<div class="jumbotron">
				<h4 class="light mb-3" style="color: #FFCF40;">Gold Sponsors</h4>
				<img src="https://lh5.googleusercontent.com/Pc6xBgQFRxiyPdA4uoppjKKDits_IuJr08b7VKcJTnn2O4ndrbMvvxnqY_sS2ThBYpSKn5eEWS3jxZah8S3eNO_ZhSYTo3xt8_5ja0JseNC5ISXoSJvkv01CRy5zyjGrNCSLFrLS" height="80px" class="px-0">
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron" id="silver">
				<h4 class="light mb-3" style="color: #777777">Silver Sponsors</h4>
				<!-- <img src="https://lh3.googleusercontent.com/9-2QXSkKpqRIEy9JSgZocyGY64QlfKjVzXnjHu4Dzxi0CjgumchZrVMSbB28rSxeEl8GEeYW9wdKhFhtOEjTmo_kCCnrsouHLh9hHktncuXVuYvWGk1w1uBl4wE6jCU3aqLZpqye" height="80px" class="px-0"> -->
			</div>
		</div>
	</div>
</div>

<div class="container" id="registration">
	<div class="row">
		<h1 class="col-12 demi mb-0">Registration</h1>
		<p class="col-12 dodgerblue demi mb-2 mt-2 text-uppercase">AMEU Economics Summit 2020</p>
	</div>
	<div class="row">
		<div class="col-md-6 my-4 py-0">
            <div class="col-12 jumbotron" id="event-notes">
                <h2 class="demi text-center text-white">Join Now!</h2>
                <p class="text-white text-center" style="line-height: 1.5">The AMEU Economics Summit 2020 is completely free of charge. Sign up today as spaces are limited! Confirmation emails will be sent out to registrants closer to the event day.</p>
                <a href="https://forms.gle/DTkGhKnqqomQ4PgW9" target="_blank"><button class="btn btn-hover mt-3 mb-0" style="display: block; margin: 0 auto;">Apply to Join</button></a>
            </div>
        </div>

		<div class="col-md-6 my-4 py-0">
            <div class="col-12 jumbotron" id="event-notes">
                <h2 class="demi text-center text-white">Event Notables</h2>
                
                <p class="text-white" style="line-height: 1.5">
                	<span class="bold">Platform: </span> Microsoft Teams
                	<hr>
                	<span class="demi">FIRST DAY : </span> <br>

                	<i class="fas fa-calendar-day col-1"></i> 08 August 2020, Saturday<br>
                	<i class="far fa-clock col-1"></i> 10:00a.m to 4:30p.m
                	<br><br>

                	<span class="demi">SECOND DAY : </span> <br>
                	<i class="fas fa-calendar-day col-1"></i> 09 August 2020, Sunday<br>
                	<i class="far fa-clock col-1"></i> 10:00a.m to 4:00p.m

                	<hr>
                	The interactive sessions will be held on the second day and divided into 2 time slots. Each time slot consists of 3 interactive session.

                </p>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	// Get the container element
	var btnContainer = document.getElementById("reg-form");

	// Get all buttons with class="btn" inside the container
	var btns = btnContainer.getElementsByClassName("year-btn");

	// Loop through the buttons and add the active class to the current/clicked button
	for (var i = 0; i < btns.length; i++) {
	  btns[i].addEventListener("click", function() {
	    var current = document.getElementsByClassName("active");
	    current[0].className = current[0].className.replace(" active", "");
	    this.className += " active";
	  });
	}

	$('#y1').on('click', function(){
		$('#year').val("Year 1");
	})
	$('#y2').on('click', function(){
		$('#year').val("Year 2");
	})
	$('#y3').on('click', function(){
		$('#year').val("Year 3");
	})
	$('#y4').on('click', function(){
		$('#year').val("Year 4");
	})
	$('#na').on('click', function(){
		$('#year').val("N/A");
	})

	$("#sel1").change(function(){
        $("#heard").val($('#sel1 option:selected').val())
    });

</script>

<script type="text/javascript">
	const second = 1000, 
	minute = second * 60,
	hour = minute * 60,
	day = hour * 24;

	let countDown = new Date('Aug 08, 2020 10:00:00').getTime(),
	x = setInterval(function() {
      let now = new Date().getTime(),
      distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
      document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
    }, second);
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>