<style type="text/css">
	html {
		scroll-behavior: smooth;
	}

	.active, .year-btn:hover {
		background-color: #e2e2e2;
		color: black;
	}
	.sticky {
		position: -webkit-sticky;
		position: fixed;
		top: 85px;
		background-image: linear-gradient(90deg, #0029D5, #1E90FF);
		color: white;
		padding: 8px 0;
		font-size: 18px;
		z-index: 999;
		text-align: center;
	}

	.sticky button {
		font-size: 16px;
		border-radius: 99px;
		padding: 3px 20px;
		border: none;
		transition: 0.3s;
	}

	.sticky button:hover {
		color: white;
		background-color: black;
	}

	.countdown {
		border-radius: 1000px;
		padding: 16px 5px;
		background-image: linear-gradient(90deg, #0029D5, #1E90FF);
		color: white;
	}

	.countdown ul {
			padding: 0;
			margin: 0;
		}

	.countdown ul li {
		list-style: none;
		display: inline-block;
		padding: 1em 1.5em;
		padding-bottom: 0;
		margin-bottom: 0;
		float: none;
		line-height: 35px;
		text-transform: capitalize;
	}
	.countdown li span {
		display: block;
		font-size: 2.8rem;
		font-family: "Demi";
	}

	#pni .jumbotron {
		padding: 50px 35px;
		background-color: white;
		box-shadow: 0 3px 8px rgba(0,0,0,0.12);
		border-radius: 10px;
	}

	#pni .jumbotron p {
		font-size: 16px;
		font-family: "Light";
	}

	.holder {
		width: auto;
		display: block;
		margin: 0 auto;
	}

	.circle {
		box-shadow: 0 3px 8px rgba(0,0,0,0.15);
		text-align: center;
		width: 240px;
		padding: 75px 0;
		border-radius: 50%;
		margin: 20px;
		display: inline-block;
	}

	.circle h1 {
		font-family: "Demi";
		font-size: 54px;
	}

	.circle p {
		font-family: "Medium";
		font-size: 18px;
	}

	#reg-now {
		padding: 80px 20px;
		background-image: linear-gradient(90deg, #1E90FF, #0029D5);
		margin: 60px 0;
	}

	#reg-now button {
		border-radius: 99px;
		padding: 6px 40px;
		transition: 0.3s;
		background-color: white;
	}

	#reg-now button:hover {
		background-color: black;
		color: white;
	}

	#speakers .card {
		border-radius: 10px;
	}

	#speakers .card img {
		border-top: 10px;
	}

	#speakers .card-body {
		height: 90px;
		padding: 15px 20px 0px 20px;
	}
	/* Timeline holder */
	ul.timeline {
	    list-style-type: none;
	    position: relative;
	    padding-left: 1.5rem;
	}

	 /* Timeline vertical line */
	ul.timeline:before {
	    content: ' ';
	    background: #fff;
	    display: inline-block;
	    position: absolute;
	    left: 16px;
	    width: 4px;
	    height: 100%;
	    z-index: 400;
	    border-radius: 1rem;
	    box-shadow: 0 3px 3px rgba(0,0,0,0.2)
	}

	li.timeline-item {
	    margin: 20px 0;
	    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
	    border-radius: 20px;
	}

	/* Timeline item arrow */
	.timeline-arrow {
	    border-top: 0.5rem solid transparent;
	    border-right: 0.5rem solid #fff;
	    border-bottom: 0.5rem solid transparent;
	    display: block;
	    position: absolute;
	    left: 2rem;
	}

	/* Timeline item circle marker */
	li.timeline-item::before {
	    content: ' ';
	    background: dodgerblue;
	    display: inline-block;
	    position: absolute;
	    border-radius: 50%;
	    border: 3px solid #fff;
	    left: 11px;
	    width: 14px;
	    height: 14px;
	    z-index: 400;
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	#sponsors .jumbotron {
		padding: 40px;
		margin: 10px 0;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.15);
		transition: 0.3s;
	}
	#sponsors .jumbotron:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,0.25);
		transform: scale(1.02);
	}

	#registration button {
		border-color: transparent;
	}

	#event-notes {
		padding: 40px;
		background-image: linear-gradient(90deg, #1E90FF, #0029D5);
		border-radius: 30px;
		color: white;
	}

	.panel {
		height: 540px;
	}
	@media only screen and (max-width: 600px) {
		.sticky {
			top: 50px;
		}
		.countdown {
			padding: 12px 8px 8px 8px;
		}

		.countdown ul li {
			padding: 0.5em 0.5em;
			line-height: 20px;
			font-size: 12px;
		}

		.countdown ul li span {
			font-size: 24px;
		}

		#speakers .card-body {
			height: 60px;
			padding-top: 8px;
		}

		.card-body h5 {
			font-size: 13px;
		}

		.card-body p {
			font-size: 14px;
		}

		.sticky button {
			background-color: white;
		}
		.panel {
			height: auto;
		}
	}
</style>

<div class="sticky col-12">Sign Up Today! <a href="#registration"><button>Register Now</button></a></div>
<br><br>
<div class="container-fluid" align="center">
	
	<div class="col-md-10 col-12 mt-4 mb-2" data-aos="zoom-out" data-aos-duration="1500">
		<img src="https://lh3.googleusercontent.com/snKN1wcQEGleafED98Iv2sBFRLf2RnV-aKYsDUdQ4_s_86Dk58AR57R_80plGe_ugHdGQnCdvti2dRBqb_qvwn_pbHH3NbqSg7i3KpCm1SWjgJdE2fC5tS-JkVTHsrKu83oeifWh" class="col-md-11 px-0 shadow banner">
	</div>
	<br>
	<div class="col-md-7 col-12 my-0">
		<div class="jumbotron countdown" align="center" data-aos="zoom-out" data-aos-duration="200">
			<ul>
				<li><span id="days"></span>Days</li>
			    <li><span id="hours"></span>Hours</li>
			    <li><span id="minutes"></span>Minutes</li>
			    <li><span id="seconds"></span>Seconds</li>
			</ul>
		</div>
		<h2 class="mt-0 pt-0">The Grand Countdown</h2>
	</div>
</div>

<div class="container mb-4">
	<div class="row">
		<p class="col-12 dodgerblue bold pt-4 mb-2 mt-4 lead text-uppercase">The Malaysian Economy: Awakening the Asian Tiger</p>
		<h1 class="col-12 demi">AMEU Economics Summit 2019</h1>	
		<p class="col-12 lead mt-2">In a visit last year, the World Bank’s Vice President for East Asia and Pacific Victoria Kwakwa said Malaysia is well on its way to cross the threshold into high-income and developed country status in the coming years. However, Malaysia has always been seen as a “tiger cub” economy, having the potential to become a developed country like Singapore and Japan, but falling slightly short. This year, the AMEU Economics Summit will discuss how Malaysia can become an Asian Tiger within the next few years. The summit will firstly focus on tackling domestic problems pertaining to wage stagnation and the middle-income trap. Secondly, we will discuss how Malaysia and ASEAN ought to position themselves on an international stage by tapping into the potential of the ASEAN digital  revolution. Overall, we aim to explore what it takes to make the Malaysian economy roar once more!</p>
	</div>

	<div class="row" id="pni">
		<h2 class="col-12 medium mb-4">Panels and Interactive Sessions</h2>	
		<div class="col-md-6">
			<div class="jumbotron col panel">
				<h3 class="demi"><span class="dodgerblue">Panel 1:</span> Tackling the Middle Income Trap and Wage Stagnation</h3>
				<p>Based on data from the Statistics Departments’ Salaries and Wages Survey Report 2016, many Malaysians are still paid significantly lower than the desired amount to achieve their “minimum acceptable living standard”. This problem of internationally uncompetitive wages is exacerbated by  Malaysia’s heavy reliance on labour-intensive and low-end manufacturing industries while insufficient high-wage job creation continues to hamper Malaysia’s productivity growth by failing to attract high-skilled labour. These problems are features of the “middle-income trap” which is generally associated with the notion that countries get stuck in a certain range of income distribution and rarely manage to achieve high-income status. Hence, this panel will explore how Malaysia can escape from its middle-income economic trap and thrive by reforming productivity and living standards.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron col panel">
				<h3 class="demi"><span class="dodgerblue">Panel 2:</span> The ASEAN Digital Revolution</h3>
				<p>Around the world, the digitalisation of the economy has redefined our daily lives, our businesses and our industries. This is an opportunity for ASEAN to be at the forefront of the global economy that is becoming increasingly digitised. According to a report by A.T. Kearney, ASEAN, as a single community, has the potential to become one of the top 5 digital economies in the world by 2025 as our large population of tech-savvy youth presents us with the chance to develop the ASEAN economy into a global powerhouse. The recent successes of businesses in the ASEAN digital market is only just the beginning. Hence, this panel aims to explore how Malaysia can play a pivotal role in pushing the region’s potential to greater heights.</p>
			</div>
		</div>
		<div class="col-md-12" align="center">
			<div class="jumbotron col">
				<h3 class="demi dodgerblue">Interactive Sessions</h3>
				<p style="font-size: 22px">Interactive sessions consist of activities such as workshops, case study challenges and dialogues, enabling participants to tailor their summit experience to their own interests. The topics covered may include gender equality, sustainability and also career advice. More details will be revealed soon!</p>
			</div>
		</div>
	</div>
</div>

<div class="container" id="speakers">
	<div class="row mb-4">
		<h1 class="col-12 demi mb-4">Our Honorable <span class="dodgerblue">Speakers</span></h1>	
	</div>
	<div class="row" align="center">
		<!-- Speaker 1  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker1">
				<img class="card-img-top" src="https://lh5.googleusercontent.com/lBqjeAwIJUSpJO8jfGCZBxVeWbFtQLCxSuZleK4b0KRRXEfeA57VaPeKqCMGUpjZrRJ3I2Vxl9SCEree-LEgrtZUbRYwUi4khR8LkOYkKi3hLM8yiHaXsp06rwcj-IlhawYjwhLg" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Nurhisham Hussein</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker1">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh5.googleusercontent.com/lBqjeAwIJUSpJO8jfGCZBxVeWbFtQLCxSuZleK4b0KRRXEfeA57VaPeKqCMGUpjZrRJ3I2Vxl9SCEree-LEgrtZUbRYwUi4khR8LkOYkKi3hLM8yiHaXsp06rwcj-IlhawYjwhLg" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Nurhisham Hussein</span>
							<br>
							<span class="text-secondary text-left">
							-London School of Economics graduate with a degree in BSc Monetary Economics
							<br>
							-Head in Economics and Capital Markets in Employee Provident Fund (EPF) with over half a decade of experience in the company
							<br>
							-Former Vice-President of Malaysian Rating Corporation Berhad
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">Tackling the Middle Income Trap and Wage Stagnation</h3>
						<p>Winter is coming. But Spring will follow, and we will still need to deal with structural reforms to achieve the prosperity that Malaysians deserve.</p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 2  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker2">
				<img class="card-img-top" src="https://lh6.googleusercontent.com/99ctpQzU44kYO-yxS86DHb5LekW5tVFC8RilbMa_9bBQALj9cotWg9BumueQ9jOtikQzEdrL9MOEC99s9WRJv2fXOmOQOSno0x0DTHPfjTeSGH7OCZlF1r28PyTrR8sfOCYAicS8" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Shakira Teh Sharifuddin</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker2">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh6.googleusercontent.com/99ctpQzU44kYO-yxS86DHb5LekW5tVFC8RilbMa_9bBQALj9cotWg9BumueQ9jOtikQzEdrL9MOEC99s9WRJv2fXOmOQOSno0x0DTHPfjTeSGH7OCZlF1r28PyTrR8sfOCYAicS8" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Shakira Teh Sharifuddin</span>
							<br>
							<span class="text-secondary text-left">
							-Country Economist at the World Bank
							<br>
							-Former Economist at Bank Negara Malaysia
							<br>
							-Graduated from Columbia University in New York, with Masters in Economic Policy Management
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">Tackling the Middle Income Trap and Wage Stagnation</h3>
						<p>As Malaysia moves closer towards achieving high-income country status, it is important to be aware of the broader aspects of development that are not captured by GDP growth. Ensuring that people have greater opportunities to improve their lives and access to social safety nets to help protect them from shocks are essential to inclusive growth.</p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 3  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker3">
				<img class="card-img-top" src="https://lh4.googleusercontent.com/MHLv6htP156Tk68ae16NnFXfOT5IfKEzSH21pHkEod4Dg_Xr51S8SWZVB8U1i1_7Jc_ggR3yJLI7Bcs2aFZTgU-pqVPvI8tmp0DkQGWAM8VgYdsJZi8ml7qafDpvCFkA0G4k4iDL" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Professor Dr Jomo Kwame Sundaram</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker3">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh4.googleusercontent.com/MHLv6htP156Tk68ae16NnFXfOT5IfKEzSH21pHkEod4Dg_Xr51S8SWZVB8U1i1_7Jc_ggR3yJLI7Bcs2aFZTgU-pqVPvI8tmp0DkQGWAM8VgYdsJZi8ml7qafDpvCFkA0G4k4iDL" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Professor Dr Jomo Kwame Sundaram</span>
							<br>
							<span class="text-secondary text-left">
							-Former Assistant Secretary-General Economic Development in the United Nation Department of Economic and Social Affairs (DESA)
							<br>
							-Advisor to the President of the 63rd UN General Assembly
							<br>
							-Former member of the Council of Eminent Persons
							<br>
							-Graduated cum laude from Yale with a major in Economics
							<br>
							-Graduated from Kennedy School of Government at Harvard for his MPA
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">Tackling the Middle Income Trap and Wage Stagnation</h3>
						<p>In view of the nature of the many uncertainties we face, anyone who knows the outlook for the world and Malaysian economies must be either supernatural or a purveyor of economic fiction.</p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 4  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker4">
				<img class="card-img-top" src="https://lh4.googleusercontent.com/79RxR9K76XjSF78rOqsCJH8X7n66tZjF2N--PW8AzF1zFXMjCi6uYPNQKjbAaz9okgPjvFRq5IOG9eiU4JkvbcTI2fKZr6Yhu6BiflaE8as_9lhUmz1bnfGUnKiSxIPHDd1M7ag_" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Dr. Jasmine Begum</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker4">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh4.googleusercontent.com/79RxR9K76XjSF78rOqsCJH8X7n66tZjF2N--PW8AzF1zFXMjCi6uYPNQKjbAaz9okgPjvFRq5IOG9eiU4JkvbcTI2fKZr6Yhu6BiflaE8as_9lhUmz1bnfGUnKiSxIPHDd1M7ag_" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Dr. Jasmine Begum</span>
							<br>
							<span class="text-secondary text-left">
							-Director of Legal, Corporate & Government Affairs for Malaysia and ASEAN
							<br>
							-Current director of Legal, Government and Corporate Affairs, Microsoft Malaysia and New Markets since 2010
							<br>
							-Over 20 years of award-winning experience in legal/policy engagement and communications at companies such as Dell Malaysia, the United Nations Development Program, the Malay Chamber of Commerce and the United Nations headquarters in New York
							<br>
							-Graduated with a double law degree at the International Islamic University in Kuala Lumpur
							<br>
							-Graduated from University of Reading with Master of Science-Communication for Development and Master of Laws, Banking, Corporate, Finance and Securities Law
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">The ASEAN Digital Revolution</h3>
						<p></p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 5  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker5">
				<img class="card-img-top" src="https://lh5.googleusercontent.com/eJi981ob0wsasWme_43j7meDOXn5icC297OTEtPOJZ8vd_07i3nJZIitVCTUMU4bNJ5RarHOD_WkDnHpmDdAuv_EfB-Smpnf8x4_spjw9hvizHNj3N-vy7A0sERW8QDg1Sx3_mkD" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Surina Shukri</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker5">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh5.googleusercontent.com/eJi981ob0wsasWme_43j7meDOXn5icC297OTEtPOJZ8vd_07i3nJZIitVCTUMU4bNJ5RarHOD_WkDnHpmDdAuv_EfB-Smpnf8x4_spjw9hvizHNj3N-vy7A0sERW8QDg1Sx3_mkD" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Surina Shukri</span>
							<br>
							<span class="text-secondary text-left">
							-CEO of the Malaysia Digital Economy Corporation (MDEC)
							<br>
							-Managing Partner and Founder of SheNovation Ventures
							<br>
							-Formally worked at JPMorgan Chase & Co. as Head of Strategy, Business Management & Innovation, Middle Market Banking & Specialized Industries
							<br>
							-Graduated from the Wharton School majoring in Finance
							<br>
							-Graduated from University of Pennsylvania majoring in Systems Engineering
							<br>
							-Graduated from Columbia University in the City of New York with Data Science for Executives Professional Certificate Program
							<br>
							-Partner of Parity Professional Program(P3)
							<br>
							-Angel Investor of 37 Angels
							<br>
							-Advisor of Dominode
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">The ASEAN Digital Revolution</h3>
						<p></p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 6  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker6">
				<img class="card-img-top" src="https://lh3.googleusercontent.com/HTcSiGIGRvVW5kV_1pBeY1TSobtOo0NMNj39Qf4IXAg6v3ckV8JQ0_6riq-pKzPwCtVgVCpVYnx8i7cj3CvLn6_6TVET7FL3lK1w7-Lzq1dW1zIZQ79loZLqlxr-UvtVp92slOxe" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Ibrahim Sani Asnan</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker6">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh3.googleusercontent.com/HTcSiGIGRvVW5kV_1pBeY1TSobtOo0NMNj39Qf4IXAg6v3ckV8JQ0_6riq-pKzPwCtVgVCpVYnx8i7cj3CvLn6_6TVET7FL3lK1w7-Lzq1dW1zIZQ79loZLqlxr-UvtVp92slOxe" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Ibrahim Sani Asnan</span>
							<br>
							<span class="text-secondary text-left">
							-Assistant Vice President to Astro Holdings Bhd
							<br>
							-Anchor & Presenter of Astro AWANI
							<br>
							-Former Presenter/Producer of BFM, Business Station
							<br>
							-Formally worked in CIMB’s Group CEO Office as well as Corporate Banking with over 8 years of experience
							<br>
							-Graduated Honors in Bachelor of Accounting from International Islamic University of Malaysia
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">Moderator - Tackling the Middle Income Trap and Wage Stagnation.</h3>
						<p></p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 7  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker7">
				<img class="card-img-top" src="https://lh5.googleusercontent.com/b343S0lEQZXIGbkpS0KeqgEiktMi3AVi0tu_6WFYo3vAKkykfO7NqaNkPD2vICBlz9wSlZ-uaVlqOBCcCWRVjiCk8cYQPSVoCoCS_FqpgNFqzkG-GhHhO_K2M5gayr1YDbjJuPya" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Wong Ee Xin</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker7">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh5.googleusercontent.com/b343S0lEQZXIGbkpS0KeqgEiktMi3AVi0tu_6WFYo3vAKkykfO7NqaNkPD2vICBlz9wSlZ-uaVlqOBCcCWRVjiCk8cYQPSVoCoCS_FqpgNFqzkG-GhHhO_K2M5gayr1YDbjJuPya" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Wong Ee Xin</span>
							<br>
							<span class="text-secondary text-left">
							-Head of Strategy, Grab Malaysia
							<br>
							-Former Senior Associate, Bain & Company
							<br>
							-Graduated BA Economics from University of Chicago, Dean’s List 2012
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">The ASEAN Digital Revolution</h3>
						<p>Technology has introduced new income opportunities for Malaysians the past few years. The next few should see similar, if not faster, growth given increasing rate of adoption by both companies and consumers. More than ever, institutions and regulators will play a big role in shaping how this growth will shape the fabric of our society.</p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Speaker 8  -->
		<div class="col-md-3 col-6">
			<div class="card">
				<a data-toggle="modal" data-target="#speaker8">
				<img class="card-img-top" src="https://lh3.googleusercontent.com/6z179Pf_QnVTsEJlSlKNayW9wgK6qHll_0aulxeSoeXu6rgkQvGsvXAYW1EpR1Xv2WAPd4bVLIPhCrQJON58yOzMDL7MnyCiToph7XVn7r_iMlm5yCMH9EHk1r7zhMwmdmuk0Tga" alt="Card image cap">
				<div class="card-body pb-0">
					<h5 class="demi dodgerblue mb-1">Tengku Zafrul Aziz</h5>
				</div>
				</a>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="speaker8">
			<div class="modal-dialog modal-md">
				<div class="modal-content py-4 px-3 border-0 shadow-lg">
					<div align="col-12">
						<p>
							<img src="https://lh3.googleusercontent.com/6z179Pf_QnVTsEJlSlKNayW9wgK6qHll_0aulxeSoeXu6rgkQvGsvXAYW1EpR1Xv2WAPd4bVLIPhCrQJON58yOzMDL7MnyCiToph7XVn7r_iMlm5yCMH9EHk1r7zhMwmdmuk0Tga" width="160px" class="rounded-circle mt-2 p-1" style="border: 4px solid dodgerblue">
							<br><br>
							<span class="lead dodgerblue demi mt-4">Tengku Zafrul Aziz</span>
							<br>
							<span class="text-secondary text-left">
							-Group CEO of CIMB Group Holdings Bhd
							<br>
							-Graduated BSc Economics and Accounting from University of Bristol
							<br>
							-Graduated Masters in Finance and Management from University of Exeter
							<br>
							-Former CEO of CIMB Investment Bank
							<br>
							-Former CEO of MAYBANK Investment Bank
							</span>
						</p>
						<hr>
					</div>

					<div class="col-12 text-left">
						<h3 class="demi">The ASEAN Digital Revolution</h3>
						<p></p>
					</div>
					<button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="holder back-black text-white col-md-9 mt-4 mb-2 shadow p-4">
			<h1 class="text-uppercase demi text-center mb-0">Announcing <span class="dodgerblue">More Speakers</span> Soon!</h1>
		</div>
	</div>
</div>

<div class="container-fluid text-white" id="reg-now">
	<div class="row">
		<h1 class="col-12 text-center demi mb-0">Join Our Event</h1>
		<p class="col-md-7 lead text-center mx-auto my-3">The AMEU Economics Summit 2019 is completely free of charge and lunch will be provided. Sign up today as spaces are limited! Confirmation emails will be sent out to registrants closer to the event day.</p>	
	</div>
	<div class="row">
		<a href="#registration" class="mx-auto"><button class="btn btn-lg">Register Now</button></a>
	</div>
	
</div>

<div class="container" id="itinery">
	<div class="row mb-4">
		<h1 class="col-12 demi">Event Itinerary</h1>	
	</div>
	
    <div class="row">
        <div class="col-12 mx-auto">
            
            <!-- Timeline -->
            <ul class="timeline">
                <li class="timeline-item back-green text-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Registration</h2>
                    <span class="lead"><i class="far fa-clock"></i> 9:00 AM - 9:30 AM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Opening Remarks and Welcoming Address</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 9:30 AM - 10:00 AM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Opening Keynote</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 10:00 AM - 10:35 AM</span>
                </li>
                <li class="timeline-item back-black text-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Break</h4>
                    <span><i class="far fa-clock"></i> 10:35 AM - 10:45 AM</span>
                </li>
                <li class="timeline-item bg-white ml-3 px-4 py-5 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Panel 1: Tackling the Middle Income Trap and Wage Stagnation</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 10:45 AM - 12:00 PM</span>
                </li>
                <li class="timeline-item bg-light ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Networking Lunch</h2>
                    <span><i class="far fa-clock"></i> 12:00 PM - 01:30 PM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Interactive Sessions</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 01:30 PM - 03:00 PM</span>
                </li>
                <li class="timeline-item back-black text-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Break</h4>
                    <span><i class="far fa-clock"></i> 03:00 PM - 03:15 PM</span>
                </li>
                <li class="timeline-item bg-white ml-3 px-4 py-5 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Panel 2: The ASEAN Digital Revolution</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 03:15 PM - 04:30 PM</span>
                </li>
                <li class="timeline-item back-black text-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h4 class="demi">Break</h4>
                    <span><i class="far fa-clock"></i> 04:30 PM - 04:40 PM</span>
                </li>
                <li class="timeline-item bg-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Closing Keynote</h2>
                    <span class="lead dodgerblue"><i class="far fa-clock"></i> 04:40 PM - 05:15 PM</span>
                </li>
                <li class="timeline-item back-red text-white ml-3 p-4 my-2">
                    <div class="timeline-arrow"></div>
                    <h2 class="demi">Closing Ceremony</h2>
                    <span class="lead"><i class="far fa-clock"></i> 05:15 PM - 05:30 PM</span>
                </li>

            </ul><!-- End -->

        </div>
    </div>
</div>

<div class="container" id="last-year">
	<div class="row">
		<p class="col-12 dodgerblue bold pt-4 mb-2 mt-4 lead text-uppercase">LAST YEAR'S Summit</p>
		<h1 class="col-12 demi">The Malaysian Project : Empowering Pioneers<br><span class="light" style="font-size: 32px;">11 August, 2018 | Sunway University</span></h1>	
		<p class="col-12 lead mt-2">Last year’s AMEU Economics Summit welcomed 13 distinguished speakers such as Tan Sri Datin Paduka Sri Rafidah binti Aziz, Professor Tan Sri Dato’ Dr. Lin See-Yan and Dr. Richard Record. <br>
		Link to last year’s AMEU Economics Summit: <a class="dodgerblue demi" target="_blank" href="https://www.facebook.com/events/1713654638750234/?ti=CL">Click here</a>.</p>
	</div>

	<div class="row" align="center">
		<div class="holder">
			<div class="my-auto circle">
				<h1 class="mb-0 dodgerblue">450</h1>
				<p class="mb-0">Attendees</p>
			</div>
			<div class=" circle">
				<h1 class="mb-0 dodgerblue">88%</h1>
				<p class="mb-0">Positive Feedback</p>
			</div>
			<div class=" circle">
				<h1 class="mb-0 dodgerblue">94%</h1>
				<p class="mb-0">Would Return</p>
			</div>
		</div>
	</div>
	<div class="row mt-4" align="center">
		<div class="col-md-6">
			<img src="https://lh5.googleusercontent.com/9ATkMccuAteZI0huILBIJ3OUrPJwr7huS83vesmX4CXHqWKn3FAka3qS9uVGUHWPqrMcuDkpIg-w7AvtVbhlotcP3OIZ0XrKRaTfPH3jIYtE7oK71d4nvyh9XVHrGFn68QHNa1P1" class="col px-0 shadow-sm">
		</div>
		<div class="col-md-6">
			<img src="https://lh3.googleusercontent.com/5HfELzM6dsZf8uXSzIGXrCXkdMMBJg7UMVHR-Zf78kYsPvdB8B4m8xqhZ5gUiQ6qaxPooWnbZ8gPBkmhCay3L7L4IxdIaBq4KCXCTB1hBxPAKOVo7LA8NV7_j0C2r9VyOp9EdTVX" class="col px-0 shadow-sm">	
		</div>
	</div>
</div>

<div class="container mt-3 mb-0 py-4" id="sponsors">
	<div class="row">
		<h1 class="col-12 demi">Our <span class="dodgerblue">Sponsors</span> this Year</h1>
	</div>
	<div class="row mt-4" align="center">
		<div class="col-md-6">
			<div class="jumbotron" id="venue">
				<h2 class="light mb-3">Co-host &amp; Venue Sponsor</h2>
				<img src="https://lh3.googleusercontent.com/eQZfqaY6H_lOaMhlweqTApveKnlrltu4LWM51bHld1_yFSoKPuUBSNmH1L_A1-AzF-iF8CrPOqZTGI69bwK_7fRtDv5TlTi7RS5FMPysLGR9bifQSAoVvbTZfr16gJXC79uxWq0W" height="80px" class="px-0">
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron" id="platinum">
				<h2 class="light mb-3" style="color: #A9A9A9;">Platinum Sponsors</h2>
				<img src="https://lh5.googleusercontent.com/u2hfV_fuo8qtKz8-xy84wa1dUx0RKqEDLy6HksPpWE43MT0wSfWBIAUe7oVwU-pIVR2D_d0_JhBtZsV_n2MJQO-Peocy5z8AQRQweaTWc4zz2-owOjQ4xIXHQqgQpeTT_9jMyafi" height="80px" class="px-0">
			</div>
		</div>
	</div>
	<div class="row mb-4" align="center" id="gold">
		<div class="col-md-6">
			<div class="jumbotron">
				<h2 class="light mb-3" style="color: #FFCF40;">Gold Sponsors</h2>
				<img src="https://lh6.googleusercontent.com/1Q1vudF7ia-l4RswtClW5U9I7gcl90S2Lff8KJFrwuhl2S-EOLQN-O5EA07Qv_z2HHt_aKXlWckMR51QJTQo9lQRCG54hVDGMt_Rop5OEUNTkybd18fKG8M728AOYgH_fGYz2RFg" height="80px" class="px-0">
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron" id="silver">
				<h2 class="light mb-3" style="color: #777777">Silver Sponsors</h2>
				<img src="https://lh3.googleusercontent.com/9-2QXSkKpqRIEy9JSgZocyGY64QlfKjVzXnjHu4Dzxi0CjgumchZrVMSbB28rSxeEl8GEeYW9wdKhFhtOEjTmo_kCCnrsouHLh9hHktncuXVuYvWGk1w1uBl4wE6jCU3aqLZpqye" height="80px" class="px-0">
			</div>
		</div>
	</div>
</div>

<div class="container" id="registration">
	<div class="row">
		<h1 class="col-12 demi mb-0">Registration</h1>
		<p class="col-12 dodgerblue bold mb-2 mt-2 text-uppercase">AMEU Economics Summit 2019</p>
	</div>

	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location.replace('/thankyou');}"></iframe>

	<form style="text-align: left" action="https://docs.google.com/forms/d/e/1FAIpQLSdG5--bhMYdpBNltl3c_K92ifyTJUzHCRX43MX6Q9EdpfjAOA/formResponse" target="hidden_iframe" onsubmit="submitted=true;" class="row mt-3" id="reg-form">
		<div class="col-md-7 px-0">
				<div class="col-md-12">
				<label class="form-label medium lead my-2">Name</label>
	            <input class="col-12 form-control" name="entry.2005620554" required/>
			</div>
	        <div class="col-md-12">
	        	<div class="row">
	        		<div class="col-6">
	        			<label class="form-label medium lead my-2">Email</label>
		        		<input class="col form-control" name="entry.432996436" required/>
	        		</div>
	        		<div class="col-6">
	        			<label class="form-label medium lead my-2">Mobile</label>
		        		<input class="col form-control" name="entry.1166974658" required/>
	        		</div>
	        	</div>
	        </div>
	        <div class="col-md-12">
				<label class="form-label medium lead my-2">Institution or Company</label>
	            <input class="col-12 form-control" name="entry.1065046570" required/>
			</div>
			<div class="col-md-12">
				<label class="form-label medium lead">Year of Study : </label>
	            <button class="btn border year-btn mx-2 my-1" id="y1">Year 1</button>
	            <button class="btn border year-btn mx-2 my-1" id="y2">Year 2</button>
	            <button class="btn border year-btn mx-2 my-1" id="y3">Year 3</button>
	            <button class="btn border year-btn mx-2 my-1" id="y4">Year 4</button>
	            <button class="btn border year-btn mx-2 my-1" id="na">N/A</button>
	            <button class="year-btn active" hidden></button>
	            <input type="text" name="entry.181018478" id="year" hidden="true" required="true">
			</div>

			<div class="col-md-12">
				<label class="form-label medium lead my-2">Industry / Course of Study</label>
	            <input class="col-12 form-control" name="entry.662357333" required/>
			</div>
			<div class="col-md-12">
				<label class="form-label medium lead my-2">How did you hear about the event?</label>
	            <select class="form-control" id="sel1">
	            	<option disabled selected>Choose One</option>
	            	<option>Word of Mouth</option>
					<option>Facebook</option>
					<option>Instagram</option>
					<option>Promotional Booth</option>
					<option>Other</option>
				</select>
				<input type="text" name="entry.839337160" id="heard" required="true" hidden="true">
			</div>
			<div class="col-md-12">
				<button class="col btn-hover btn back-db text-white light uppercase py-2 my-2" type="submit">SUBMIT</button>	
			</div>
		</div>
		<div class="col-md-5 mt-2 py-0">
            <div class="col-12 jumbotron" id="event-notes">
                <h2 class="demi text-center">Event Notables</h2>
                
                <div class="row mt-3">
                	<i class="fas fa-map-marker-alt col-1"></i>
                	<h6 class="col-10">Sunway University</h6>
                </div>
                <div class="row">
                	<i class="far fa-clock col-1"></i>
                	<h6 class="col-10">09:00 AM to 5:30 PM</h6>
                </div>
                <div class="row">
                	<i class="fas fa-calendar-day col-1"></i>
                	<h6 class="col-10">Saturday, 10 August 2019</h6>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
	// Get the container element
	var btnContainer = document.getElementById("reg-form");

	// Get all buttons with class="btn" inside the container
	var btns = btnContainer.getElementsByClassName("year-btn");

	// Loop through the buttons and add the active class to the current/clicked button
	for (var i = 0; i < btns.length; i++) {
	  btns[i].addEventListener("click", function() {
	    var current = document.getElementsByClassName("active");
	    current[0].className = current[0].className.replace(" active", "");
	    this.className += " active";
	  });
	}

	$('#y1').on('click', function(){
		$('#year').val("Year 1");
	})
	$('#y2').on('click', function(){
		$('#year').val("Year 2");
	})
	$('#y3').on('click', function(){
		$('#year').val("Year 3");
	})
	$('#y4').on('click', function(){
		$('#year').val("Year 4");
	})
	$('#na').on('click', function(){
		$('#year').val("N/A");
	})

	$("#sel1").change(function(){
        $("#heard").val($('#sel1 option:selected').val())
    });

</script>

<script type="text/javascript">
	const second = 1000, 
	minute = second * 60,
	hour = minute * 60,
	day = hour * 24;

	let countDown = new Date('Aug 10, 2019 09:00:00').getTime(),
	x = setInterval(function() {
      let now = new Date().getTime(),
      distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
      document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
    }, second);
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>