<section>
    <div class="container">
        <div class="jumbotron bg-white mt-4 white-jumbo">
            <h1 class="general-heading mt-2 mb-0 dodgerblue">Thank you!</h1>
            <h2 class="mt-2 text-center">We appreciate your interest.</h2>
        </div>
    </div>
    
</section>