 <!-- service part start -->
    <section class="service_part">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4 col-sm-10">
                    <div class="service_text">
                        <h2>What We Care About</h2>
                        <p>To be a leading student-led organisation that is committed to building a better Malaysia and developing student leaders by building commercial, economic and social awareness, driving public policy and public-private sector discourse, as well as leading nation-building activities among the youth.</p>
                        <!-- <a href="service.html" class="btn_3">learn more</a> -->
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="service_part_iner">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_service_text ">
                                    <i class="fas fa-users"></i>
                                    <h4>Social Impact</h4>
                                    <p>Our organisation serves as a platform to connect and engage Malaysian students who are passionate in Economics and other related disciplines in pursuit of developing youth leadership and strategic capabilities.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_service_text">
                                    <i class="fas fa-money-check-alt"></i>
                                    <h4>Commercial Awareness</h4>
                                    <p>Available networking opportunities with prominent economics and corporate figures help students to improve their understanding of the business world and be more employable.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_service_text">
                                    <i class="fas fa-book"></i>
                                    <h4>Economic Knowledge</h4>
                                    <p>Variety of events and workshops to help students gain knowledge in economic and other related sectors, especially in the context of Malaysia and Southeast Asia.</p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/143b576c93.js"></script>
<!-- service part end