<style type="text/css">
	.full-body {
		height: 100%;
	}
	.holder {
		
		width: 100%;
		text-align: center;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	h1 {
		display: block;
		background-color: black;
		color: white;
		font-size: 48px;
		padding: 20px 0;
		box-shadow: 0 3px 8px rgba(0,0,0,0.15);
	}
</style>

<div class="full-body">
	<div class="holder">
		<h1 class="demi text-uppercase">Hello! This page is under development.</h1>	
		<h4 class="mt-4 light">We are currently migrating our old website to a <span class="dodgerblue demi">newer</span> one. So stay tuned!<br>You can still visit our current website <a class="medium underline dodgerblue" href="https://www.ameunetwork.org" target="_blank"><u>here</u></a>.</h4>
	</div>
</div>