<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p class="sub-heading">Follow Us</p>
                <div class="socials facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="socials instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="socials linkedin">
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>

            <div class="col-md col-6">
                <p class="sub-heading">Sitemap</p>
                <ul>
                    <li>Who we are</li>
                    <li>Our Events</li>
                    <li>Talk with IAC</li>
                    <li>Our Members</li>
                    <li>Student Guides</li>
                    <li>AMEU Research</li>
                </ul>
            </div>

            <div class="col-md col-6">
                <p class="sub-heading">Get In Touch</p>
                <ul>
                    <li>Apply to join</li>
                    <li>Contact us</li>
                </ul>
            </div>

            <div class="col-md">
                <div class="credits my-auto">
                    <p class="sub-heading">Created by</p>
                    <h4>Closer Foundation</h4>
                    <p>- "A non-profit organization that teaches people how to code for free and helps get into work life."</p>
                </div>
            </div>

        </div>
        <hr>
        <p>Copyright &copy; 2019 AMEU. <span class="float-right">All Rights Reserved.</span></p>
    </div>
</footer>