<!-- about part end-->
    <section class="about_us">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="about_us_img">
                        <img src="https://pbs.twimg.com/media/DsyvxXqUUAAD6v8.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_us_text">
                        <h5>
                            2000<br><span>since</span>
                        </h5>
                        <h2>Our Impact</h2>
                        <p>AMEU is fully committed to delivering the best events to promote economics and to create initiatives which are in the interests of students. Our efforts are reflected by widespread support from both organizations and students alike, and we aim to continue this momentum moving forward.</p>
                        <div class="banner_item">
                            <div class="single_item">
                                <h2> <span class="count">50</span>k</h2>
                                <h5>People Reached</h5>
                            </div>
                            <div class="single_item">
                                <h2><span class="count">12</span></h2>
                                <h5>Successful Events</h5>
                            </div>
                            <div class="single_item">
                                <h2><span class="count">5</span>k</h2>
                                <h5>Lives Impacted</h5>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
                
            </div>
        </div>
    </section>
<!-- about part end-->